<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infoFile" xsi:type="File" fileName="D:/stage/Back/LearningApp/logs/logs/info-${shortdate}.log">
      <layout>${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}</layout>
    </target>
    <target name="debugFile" xsi:type="File" fileName="D:/stage/Back/LearningApp/logs/logs/debug-${shortdate}.log">
      <layout>${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}</layout>
    </target>
    <target name="errorFile" xsi:type="File" fileName="D:/stage/Back/LearningApp/logs/logs/error-${shortdate}.log">
      <layout>${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}</layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>

</nlog>