.chat-messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.react-scroll-to-bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.react-scroll-to-bottom--with-top-scroll {
  overflow-y: scroll;
}
